body {
    font-family: 'Courier New', Courier, monospace;
    
}
nav {
    display: flex;
    position: relative;
}
.ul {
    display: flex;
    text-decoration: none;
}
li, a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}




